@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Witaj w Ankietowni</h1>
    <p>Tutaj możesz tworzyć łatwo i szybko ankiety oraz rozsłać je do innych użytkowników tej strony</p>
</div>
