
@{
    ViewData["Title"] = "Success";
}

<h3>Dziękujemy za wypełnienie ankiety.<br /><br /> Twój hash to: @ViewData["computedHash"].<br /><br /> Zapisz go bo w celu zagwarantowania że niepożądane zmiany w Twoich odpowiedziach są wykrywalne, ten hash nie jest zapisywany na naszych serwerach i po wyjściu z tej strony hash jest tracony na zawsze.</h3>